<html>
  <body>
    <h1>Predict Bankruptcy</h1>
    <form action="/" method="post">
      <div>
        <label for="attr1">Net Profit to Total Assets Ratio</label>
        <input type="number" name="attr1" step="0.01" placeholder="1" />
      </div>
      <div>
        <label for="attr2">Liability to Total Assets Ratio</label>
        <input type="number" name="attr2" step="0.01" placeholder="1" />
      </div>
      <div>
        <label for="attr3">Working Capital to Total Assets Ratio</label>
        <input type="number" name="attr3" step="0.01" placeholder="1" />
      </div>
      <input type="submit" value="Submit" />
    </form>

    <h1>Prediction: {{result}}</h1>
  </body>
</html>
